<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="~/Content/assets/images/faces/face1.jpg" alt="profile">
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">David Grey. H</span>
                    <span class="text-secondary text-small">Project Manager</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <!--Categories-->
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Categories</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-apps menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="~/Admin/Category/Index">List</a></li>
                    <li class="nav-item"> <a class="nav-link" href="~/Admin/Category/Create">Create Categories</a></li>
                </ul>
            </div>
        </li>
        <!-- End Categories-->
        <!--Brand-->
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Brand</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-bowling menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="~/Admin/Brands/Index">List</a></li>
                    <li class="nav-item"> <a class="nav-link" href="~/Admin/Brands/Create">Create Brand</a></li>
                </ul>
            </div>
        </li>
        <!-- End Brand-->
        <!--Product-->
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Product</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-briefcase-check menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="~/Admin/Products/Index">List</a></li>
                    <li class="nav-item"> <a class="nav-link" href="~/Admin/Products/Create">Create Product</a></li>
                </ul>
            </div>
        </li>
        <!--End Product-->
        <!--Order-->
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Order</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-cart-outline menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="~/Admin/Order/Index">List</a></li>
                    <li class="nav-item"> <a class="nav-link" href="~/Admin/Order/Create">Create Order</a></li>
                </ul>
            </div>
        </li>
        <!--End Order-->
    </ul>
</nav>
